p {
    color: white;
    font-size: 2em;
    font-weight: 100;
    margin: .5rem 0;
}

@media only screen and (max-width: 495px) {
    p {
        font-size: 1.5em;
        text-align: justify;
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

a:hover, a:active {
    color: lime;
}

a:hover img {
    opacity: 50%;
}

a:visited {
    color: white;
}

img {
    margin-right: 1rem;
}