<ng-container *ngIf="scrapedSong$ | async as scrapedSong">
  <div>
    <a [href]="scrapedSong.song.url" target="_blank">
      <img [src]="scrapedSong.song.header_image_thumbnail_url" width="64" height="64" />
      <div>
        <span class="title">{{ scrapedSong.song.title }}</span>
        <span class="artist">{{ scrapedSong.song.artist_names }}</span>
      </div>
    </a>
    <ng-container *ngIf="(isMobile$ | async) === true">
      <ng-container *ngTemplateOutlet="refreshBtn"></ng-container>
    </ng-container>
  </div>
  <p *ngFor="let lyric of scrapedSong.lyrics">{{ lyric }}</p>
  <ng-container *ngIf="(isMobile$ | async) === false">
    <ng-container *ngTemplateOutlet="refreshBtn"></ng-container>
  </ng-container>
</ng-container>
<ng-template #refreshBtn>
  <input type="image" src="/assets/refresh.svg" width="48" height="48" (click)="refresh($event)" />
</ng-template>
