:host {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Arizonia';
    font-size: 6em;
    font-weight: 300;
    color: white;
    opacity: 15%;
    margin: 2rem 0;
    user-select: none;
}

@media only screen and (max-width: 495px) {
    h2 {
        font-size: 3em;
        margin: .5rem 0.25rem;
    }
}